<div class="dialog-content">
    <form>
        <div class="form-group">
            <label>Bonus</label>
            <input type="number"
                   name="bonus"
                   value="0"
                   step="1" />
        </div>
        {{#if includeModifiers}}
            <div class="form-group initative-modifier-div"
                 style="display:flex;">
                <label>Initiative Modifier</label>
                <input type="number"
                       value="{{initativeModifier}}"
                       disabled="true" />
            </div>
        {{/if}}
        {{#if (gt (len combatSpeedOptions) 0)}}
            <div class="form-group combat-speed-div">
                <label>Combat Speed</label>
                <select type="checkbox"
                        name="combatSpeed">
                    {{selectOptions combatSpeedOptions}}
                </select>
            </div>
        {{/if}}
    </form>
</div>
<div class="dialog-buttons">
    <button class="dialog-button {{cssClass}}"
            data-button="cancel">
        Cancel
    </button>
    <button class="dialog-button {{cssClass}}"
            data-button="normal">
        Roll Initiative
    </button>
</div>