@mixin flex-container($direction: column, $align: stretch) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
}

@mixin fade-in($time: 1) {
	visibility: visible;
	opacity: 1;
	transition: opacity #{$time}s linear;
}

@mixin fade-out($time: 1) {
	visibility: visible;
	opacity: 0;
	transition: visibility 0s #{$time}s, opacity #{$time}s linear;
}

@mixin flex($val) {
	flex: $val;
}

@mixin strict-flex($val) {
	flex: $val $val 0%;
}

.fill-parent {
	width: 100%;
	height: 100%;
}

.fill-parent-width {
	width: 100%;
}

.fill-parent-height {
	width: 100%;
}

.fill-parent-offset-height-50 {
	width: 100%;
	height: calc(100%-50px);
}

.fill-parent-offset-height-100 {
	width: 100%;
	height: calc(100%-50px);
}

.fill-parent-offset-height-150 {
	width: 100%;
	height: calc(100%-50px);
}

.flex-0 {
	@include flex($val: 0);
}

.strict-flex-0 {
	@include strict-flex($val: 0);
}

.flex-1 {
	@include flex($val: 1);
}

.strict-flex-1 {
	@include strict-flex($val: 1);
}
.flex-2 {
	@include flex($val: 2);
}

.strict-flex-2 {
	@include strict-flex($val: 2);
}
.flex-3 {
	@include flex($val: 3);
}

.strict-flex-3 {
	@include strict-flex($val: 3);
}
.flex-4 {
	@include flex($val: 4);
}

.strict-flex-4 {
	@include strict-flex($val: 4);
}
.flex-5 {
	@include flex($val: 5);
}

.strict-flex-5 {
	@include strict-flex($val: 5);
}
.flex-6 {
	@include flex($val: 6);
}

.strict-flex-6 {
	@include strict-flex($val: 6);
}
