<table>
    <tr>
        <td>Damage Roll</td>
        <td>To Hit Roll</td>
    </tr>
    <tr>
        <td><input type="text" name="data.damageRoll" value="{{data.damageRoll}}"></td>
        <td><input type="text" name="data.toHitRoll" value="{{data.toHitRoll}}"></td>
    </tr>
</table>