<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            
        </div>
    </header>
    <hr>
    <div class="sheet-body">
        {{#if item.actor}}
        <table>
            <tr>
                <th>Base Value</th>
                <th>Increase Per Level</th>
                <th>Number of Acquisitions</th>
                <th>Other Bonuses</th>
                <th>Value</th>
                <th>Manual Override?</th>
            </tr>
            <tr>
                <td><input type="text" name="data.baseValue" value="{{data.baseValue}}" data-dtype="Number" {{#disabled data.override.active}}{{/disabled}}/></td>
                <td><input type="text" name="data.levelIncrease" value="{{data.levelIncrease}}" data-dtype="Number" {{#disabled data.override.active}}{{/disabled}}/></td>
                <td><input type="text" name="data.numAcquisitions" value="{{data.numAcquisitions}}" data-dtype="Number" {{#disabled data.override.active}}{{/disabled}}/></td>
                <td><input type="text" name="data.otherBonuses" value="{{data.otherBonuses}}" data-dtype="Number" {{#disabled data.override.active}}{{/disabled}}/></td>
                <td>
                    {{#if data.override.active}}
                        <input type="text" name="data.override.value" value="{{data.value}}" data-dtype="Number"/>
                    {{else}}
                        <input type="text" name="data.value" value="{{data.value}}" data-dtype="Number" disabled="true"/>
                    {{/if}}
                </td>
                <td><input type="checkbox" name="data.override.active" {{#checked data.override.active}}{{/checked}} /></td>
            </tr>
        </table>
        {{else}}
            <table>
                <tr>
                    <th>Base Value</th>
                    <th>Increase Per Level</th>
                    <th>Value</th>
                    <th>Generic Skill</th>
                </tr>
                <tr>
                    <td><input type="text" name="data.baseValue" value="{{data.baseValue}}" data-dtype="Number" /></td>
                    <td><input type="text" name="data.levelIncrease" value="{{data.levelIncrease}}" data-dtype="Number" /></td>
                    <td><input type="text" name="data.value" value="{{data.value}}" data-dtype="Number" disabled="true"/></td>
                    <td><input type="checkbox" name="data.isGenericSkill" {{#checked data.isGenericSkill}}{{/checked}} /></td>
                </tr>
            </table>
        {{/if}}
        <div class="tab">
            {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
        </div>
    </div>

</form>