<div class="dialog-content">
    <form>
        <div class="form-group">
            <label>Roll Name</label>
            <input type="text" name="name" {{#if name}}value="{{name}}" disabled="true" {{/if}}>
        </div>
        <div class="form-group">
            <label>Value</label>
            <input type="number" step="1" name="value" {{#if name}}value="{{value}}" disabled="true" {{/if}}>
        </div>
        <div class="form-group">
            <label>Difficulty Penalty</label>
            <input type="text" name="difficultyPenalty" value="">
        </div>
    </form>
</div>
<div class="dialog-buttons">
    <button class="dialog-button {{cssClass}}" data-button="cancel">
        Cancel
    </button>
    <button class="dialog-button {{cssClass}}" data-button="normal">
        Roll Skill
    </button>
</div>