<div class="dialog-content">
    <form>
        <div class="form-group">
            <label>Roll Name</label>
        </div>
    </form>
</div>
<div class="dialog-buttons">
    <button class="dialog-button {{cssClass}}" data-button="cancel">
        Cancel
    </button>
    <button class="dialog-button {{cssClass}}" data-button="normal">
        Roll Skill
    </button>
</div>